@media only screen and (max-width: 600px) {
  body #main ul.posts li time, body #main ol.posts li time {
    float: none;
    clear: both;
  }

  body #main ul.posts li .wrapper, body #main ol.posts li .wrapper {
    float: none;
    clear: both;
  }

  body #home h2 {
    clear: both;
  }

  body article#about #picture {
    width: 150px !important;
    height: 150px  !important;
  }

  body article#home #picture {
    display: none;
  }
}
