title: Alexandru Nedelcu
description: On programming and personal projects
domain: alexn.org
url: https://alexn.org
baseurl: ""

author:
  name: Alexandru Nedelcu
  github: alexandru
  linkedin: alexelcu
  mastodon: https://mastodon.social/@alexelcu
  bluesky: https://bsky.app/profile/alexn.org

contact:
  email:
    username: "sharp.pail4153"
    domain: "alexn.org"

links:
  website: https://links.alexn.org
  feed: https://links.alexn.org/feeds/shared

repo_edit: https://github.com/alexandru/alexn.org/blob/main/

include: ["_redirects", ".well-known", "robots.txt", "CNAME"]
exclude:
  [
    "Makefile",
    "README.md",
    "_retracted",
    "package-lock.json",
    "package.json",
    "scripts",
    "vendor",
  ]

analytics:
  enabled: true

defaults:
  # HTML pages
  - scope:
      path: "docs/*.html"
    values:
      permalink: /:path/:basename/
  - scope:
      path: "docs/*.md"
    values:
      permalink: /:path/:basename/
  - scope:
      path: "assets/html/*.html"
    values:
      permalink: /:path/:basename/
  # Blog posts (collection)
  - scope:
      path: "_posts" # an empty string here means all files in the project
    values:
      permalink: blog/:year/:month/:day/:title/
      layout: post
      has_contributions: true
      has_comments: true
      nav_id: /blog/
  # Blog drafts
  - scope:
      path: "_drafts" # an empty string here means all files in the project
    values:
      permalink: drafts/:title/
      layout: post
      has_contributions: false
      has_comments: false
      nav_id: /blog/
  # Wiki pages (collection)
  - scope:
      path: "_wiki" # an empty string here means all files in the project
    values:
      permalink: wiki/:title/
      layout: wiki
      has_contributions: true
      has_comments: true
      nav_id: /wiki/
      description: Personal, volatile wiki documentation

collections:
  posts:
    permalink: /blog/:year/:month/:day/:title/
    output: true
  wiki:
    output: true

sass:
  style: compressed

markdown: kramdown
highlighter: none
kramdown:
  input: GFM
  hard_wrap: false
  math_engine: null
  syntax_highlighter_opts:
    disable: true
    css_class: code

plugins:
  - jekyll-paginate-v2
  - jekyll-redirect-from
  - jekyll-relative-links
  - jekyll-sitemap
  - jekyll-titles-from-headings

relative_links:
  enabled: true
  collections: true

pagination:
  enabled: true
  per_page: 50
  permalink: "/page/:num/"
  title: ":title - page :num"
  sort_reverse: true

# thumbnails:
#   x200:
#     destination: assets/thumbs/x150
#     resize: "x150"
#     quality: "85"
#     strip: true
#     interlace: none
#     colorspace: sRGB
#     unsharp: "0.25x0.25+8+0.065"
#     filter: "Triangle"
#     dither: None
#     posterize: 136
#     define:
#       - "filter:support=2"
#       - "png:compression-strategy=1"
#       - "png:compression-filter=5"
#       - "png:compression-level=9"
#       - "png:exclude-chunk=all"

titles_from_headings:
  enabled: true
  strip_title: true
  collections: true

autopages:
  enabled: true
  tags:
    layouts:
      - "auto-posts-tag.html"
  categories:
    enabled: false
  collections:
    enabled: false

navigation:
  - title: Blog
    url: /blog/
    id: /blog/
  - title: Wiki
    url: /wiki/
    id: /wiki/
  - title: About
    url: /about/
    id: /about/
  - title: Subscribe
    url: /subscribe/
    id: /subscribe/

assets:
  destination: "/assets/compiled"
  caching:
    path: ".jekyll-cache/assets"
    type: file # Possible values: memory, file
    enabled: true
  sources:
    - assets/media
