---
layout: default
has_full_title: true
---

<div class="home" id="home">
  <ul class="posts noList">
    {% for post in site.posts offset:0 limit:1  %}
    <li>
      {% include post-excerpt.html post=post strict_loading=true %}
    </li>
    {% endfor %}
  </ul>

  <div class="archive_list">
    <h2>Recent Blog Articles</h2>
  
    <div class="container">
      {% for post in site.posts offset:1 limit:5 %}
      <div class="item">
        <a class="related-link" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title | xml_smart_escape }}
        </a>
        <div class="related-meta">
          <div class="tags">
            {% assign had_first_tag = false %}
            {% for tag in post.tags %}
              {% unless had_first_tag %}{% assign had_first_tag = true %}{% else %} | {% endunless -%}
              <a href="{{ tag | downcase | uri_escape | prepend: '/blog/tag/' | prepend: site.baseurl }}" class="tag">{{ tag }}</a>
            {% endfor %}            
          </div>
          <time>{{ post.date | date_to_long_string }}</time>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
      <div>
        <a href="{{ '/blog/' | absolute_url }}" class="button__outline">See full archive</a>
      </div>
    </div>
  </div>

  <div class="archive_list">
    <h2>Recent Wiki Articles</h2>
  
    {% assign all_wiki = site.wiki | rss_filter_and_sort: 5 -%}
    <div class="container">
      {% for post in all_wiki %}
      <div class="item">
        <a class="related-link" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title | xml_smart_escape }}
        </a>
        <div class="related-meta">
          <time>{{ post.date | date_to_long_string }}</time>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
      <div>
        <a href="{{ '/wiki/' | absolute_url }}" class="button__outline">See full archive</a>
      </div>
    </div>
  </div>
</div>
