/********
   COLORS
*/

$background-color: #eee;
$heading-color: #340007;
$h1-heading-color: #aa0000;
$body-font-size: 16px;
$body-line-height: 24px;
$header-1-size: 180%;
$max-width: 760px;
$min-width: 480px;
$vertical-padding: 20px;

/********
   MIXINS
*/

@mixin tags-base {		    
    color: #5A80A4;

    a {
	color: inherit;
	text-decoration: none;
	&:hover {
	    text-decoration: underline;
	}
    }
}

@mixin container-wrapper {
    margin: auto;
    max-width: $max-width;
    min-width: $min-width;
    width: 97%;
    padding: 1.5%;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    background-color: #fff;
}

/********
   STYLES
*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: $background-color;
    height: 100%;
}

/* RESET */

body {
    font-family: helvetica,verdana,sans-serif;
    font-size: $body-font-size;
    line-height: $body-line-height;
    text-align: center;

    p {
	margin: $vertical-padding/2 0;
    }

    a {
	color: #184BB4;
        &:visited {
	    color: #551A8B;
	}
	&:hover {
	    color: #000;
	}
    }

    .clearfix {
	zoom: 1;
	&:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
    }    
}

body > #header-container {
    width: 100%;
    color: #a00;
    font-weight: bold;
    top: 0;
    left: 0;

    header {
	@include container-wrapper;
	position: relative;
	text-align: left;
	font-size: 120%;
	background-color: #000;

	h1 {
	    display: none;
	}

	nav {
	    a.github {		
		position: absolute;
		top: 0;
		right: 0;
		width: 149px;
		height: 149px;
		background-image: url(/assets/images/fork.png);
		
		span {
		    display: none;
		}
	    }

	    a {
		color: #FF9999;
		text-decoration: none;

		&:hover {
		    text-decoration: underline;
		}
		&.extra {
		    color: #fff;
		    margin-left: 1em;
		}
	    }
	}
    }
}

body #main {    
    @include container-wrapper;

    padding-bottom: 0;
    text-align: left;

    border-bottom: 2px dashed $background-color;

    .meta {
	color: #aaa;
    }

    h1, h2, h3, h4, h5, h6 {
	font-size: 100%;

	margin-top: $vertical-padding;
	margin-bottom: $vertical-padding;
	
	color: lighten($heading-color, 10%);
	text-align: left;
    }

    h1 {
	margin-top: 0.5em;
	font-size: $header-1-size;
	margin-bottom: $vertical-padding + $vertical-padding / 2;
	line-height: 130%;
    }

    h2 {
	font-size: $header-1-size - 30;
    }
    h3 {
	font-size: $header-1-size - 60;    
    }

    img.right {
	float: right; margin-left: 10px; margin-bottom: 10px;
    }

    img.center {
    	display: block; margin: auto;
    }

    ul.posts, ol.posts {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
	    display: block;
	    padding-bottom: $vertical-padding / 2;

	    &.first {
		padding-top: 0;
	    }
	    &.last {
		padding-bottom: 0;
		border-bottom: 0;
	    }

	    a {
		font-size: 110%;
		text-decoration: none;
		&:hover { 
		    text-decoration: underline; 
		}
	    }

	    time {
		display: block;
		float: left;

		color: #aaa;
		font-family: Monaco, "Courier New", monospace;
		font-size: 80%;		    
		line-height: 200%;

		&:after {
		    margin-left: 5px;
		    margin-right: 5px;
		    content: "»";
		}
	    }

	    .wrapper {
		float: left;
	    }

	    .tags {
		@include tags-base;
		a {
		    font-size: 80%;
		}
	    }
	    
	    &.last .wrapper {
		margin-bottom: 0;
	    }
	}

	&.delicious {
	    li a {
		font-size: 100%;
	    }
	    li time {
		line-height: 170%;
	    }
	    .wrapper {
		margin-bottom: 0;
	    }
	}
    }

    article {
	padding-bottom: $vertical-padding;
	h2, h3 {
	    margin-top: $vertical-padding + $vertical-padding / 2;
	} 
    }

    article#home {
	padding-bottom: $vertical-padding / 2;
    }

    article#post header h1 {
	margin-bottom: $vertical-padding / 2;
    }

    article {
	#content {
	    ul, ol {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-left:5px;

		li {
		    margin-bottom: $vertical-padding / 2;
		    padding-left: 15px;		

		    background-image: url(/assets/images/round-bullet.gif);
		    background-repeat: no-repeat;
		    background-position: 0 9px;
		}
	    }

	    .highlight {
		font-size: 90%;
		padding: 1em;
		margin: 1em 0;
		overflow: auto;
		line-height: 130%;

		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	    }
	}

	/* terminal */

	.dialog {
	    padding: $vertical-padding;
	    background-color: $background-color;
	    span {
		float: left;
		display: block;
		width: 70px;
	    }
	}

	br {
	    clear: both;
	}

	#meta {
	    margin-bottom: $vertical-padding;
	    font-size: 90%;	
	    color: #888;

	    .post-date {
		float: left;
		margin-right: 10px;
	    }

	    .tags {
		@include tags-base;

		&:before {
		    content: "»";
		    color: #888;
		    margin-right: 5px;
		}
	    }
	}

	footer {
	    padding-top: $vertical-padding;

	    #amazon-book {
		border-top: 2px solid #C69AA1;
		padding-top: $vertical-padding / 2;
		padding-bottom: $vertical-padding / 2;

		a {
		    font-size: 110%;
		    &:visited {
			color: #184BB4;
		    }
		}

		a > img {
		    display: block;
		    float: left;
		    width: 100px;
		    margin-right: 10px;
		    border: 0;
		}

		.content {
		    font-size: 90%;
		    line-height: 150%;

		    margin-left: 110px;
		    clear: right;

		    .meta {
			font-size: 80% !important;
		    }

		    .desc, .disclaimer {
			font-size: 90%;
			color: #444;
		    } 
		    .disclaimer {
			color: #666;
			margin-bottom: 5px;
		    }
		}
	    }
	}
    }
}

body #footer-container {
    padding-bottom: 40px;
}

body #footer-container footer {
    @include container-wrapper;

    padding-top: 0;
    padding-bottom: 0;

    font-size: 80%;
    line-height: 160%;
    color: #666;
    border-top: 3px dashed $background-color;
    border-bottom: 3px dashed $background-color;
    overflow: hidden;
    text-align: left;

    margin-top: 4px;
    padding: 5px 1.5%;

    .contact {
	float: left;
	margin-right: 3em;
	margin-top: 5px;
	a {
	    color: #8085C1;
	}
    }

    .rss {
	margin-right: 0;
	float: right;
	margin-right: -0.2em; 
	a {
	    text-decoration: none;
	    display: block;
	    float: right; 
	}
	img {
	    border: 0; 
	}
    }
}


body #main article footer #other-articles {
    border-top: 2px solid #C69AA1;

    h2 {
	color: #A66C75;
	margin: 0;
	padding: 0;
	padding-top: $vertical-padding;
	padding-bottom: $vertical-padding;
	font-size: 140%;
    }
    
    ul {
	margin: 0;
	padding: 0;
	padding-bottom: $vertical-padding;

	li {
	    margin-bottom: 0;
	}
    }
}

#contributions {
    position: relative;
    border-top: 2px solid #C69AA1;
    padding-top: 10px;    

    h2 {
	margin-top: 0;
	color: #A66C75;
    }
}


#email-subscription form input, #email-subscription form button {
    padding: 4px; 
}

#about {
    ul {
	margin-left: 10px;
	li {
	    list-style: none;
	}
    }
}

#resume .enumeration p b {
    display: block;
    width: 120px;
    float: left;
}

#resume .enumeration p span {
    display: block;
    float: left;
    width: 600px;
}
#resume .enumeration p {
    margin-bottom: 10px;
}

#resume .enumeration.bigger-labels p b {
    width: 150px;
}
#resume .enumeration.bigger-labels p span {
    width: 570px;
}

#resume .testimonial {
    margin-bottom: 10px;
    padding: 10px;
}

#resume .testimonial cite {
    margin-bottom: 7px;
    display: block;
}

#resume .testimonial .credit {
    font-size: 80%;
    font-weight: bold;
    color: #333;
}

#resume .testimonial .credit a {
    color: #1F5386;
    text-decoration: none;
}

.clear {
    display: block;
    clear: both;
}
