@media only screen and (max-width: 700px) {
    body .site ul.posts li .wrapper {
	float: none;
	clear: both;
    }
}

@media only screen and (max-width: 400px) {
    body {
	font-size: 105%;

	.site {
	    padding-top: 130px;
	}
    }

    #post .highlight {
	font-size: 100%;
    }

    #header .wrapper {
	height: 95px;
    }
    #header {
	a {
	    display: block;
	    line-height: 150%;
	}
    }
}