body {
  font-size: 137.5%;
}

.container {
  max-width: 990px;

  .inner-container {
    width: 75%;
    margin: 0 auto;
  }
}

.js .header,
.no-js .header {
  .container {
    max-width: 990px;
  }
}

.post {
  // .formula-code, pre > code {
  //   font-size: 100%;
  // }

  &.privacy_policy #opt_out_frame iframe {
    height: 180px;
  }
}

.footer {
  .container {
    max-width: 990px;
  }
}

.post.snippet {
  .postTitle {
    font-size: 140%;
  }
}
