<h2>Noteworthy Projects</h2>

<ul class="elsewhere">
  <li><a href="https://monix.io">Monix, reactive programming for Scala and Scala.js</a></li>
  <li><a href="https://github.com/alexandru/scala-best-practices">Scala Best Practices</a></li>
  <li><a href="https://github.com/alexandru/shade">Shade, a Memcached client for Scala</a></li>
</ul>
