---
title: "Alexandru Nedelcu"
---

<article id="about">
  <h1>Alexandru Nedelcu</h1>

  <%= image_tag "picture_alex.jpg", :width => "150", :class => "right", :title => "Alexandru Nedelcu", :alt => "Alexandru Nedelcu" %>

  <!--sse-->
  <ul>
    <li><a href="http://www.linkedin.com/in/alexandrunedelcu" rel="me">LinkedIn</a></li>
    <li><a href="http://github.com/alexandru/" target="_blank" rel="me">GitHub (alexandru)</a></li>
    <li><a href="http://twitter.com/alex_ndc/" rel="me">Twitter (@alex_ndc)</a></li>
    <li><a href="https://plus.google.com/+AlexandruNedelcu" rel="me">Google+</a>
  </ul>
  <!--/sse-->

  <br />
  <br />
  <br />
  <br />
</article>
