---
title: "Alexandru Nedelcu"
---

<article id="about">
  <h1>Alexandru Nedelcu</h1>

  <%= image_tag "picture_alex.jpg", :width => "150", :class => "right", :title => "Alexandru Nedelcu", :alt => "Alexandru Nedelcu" %>

  <!--sse-->
  <ul>
    <li><a href="http://www.linkedin.com/in/alexandrunedelcu">LinkedIn</a></li>
    <li><a href="http://github.com/alexandru/" target="_blank">GitHub (alexandru)</a></li>
    <li><a href="http://twitter.com/alex_ndc/">Twitter (@alex_ndc)</a></li>
    <li><a href="https://plus.google.com/112639155372207976835/" rel="me">Google+</a></li>
  </ul>
  <!--/sse-->

  <br />
  <br />
  <br />
  <br />
</article>
