---
title: Bionic Spirit - Subscribe
---

<article id="email-subscription">

  <h1>Subscribe By Email</h1>

  <p>
    Have my posts delivered to you by FeedBurner, straight to your
    Inbox. I will not spam you and you can unsubscribe at any time.
  </p>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="http://bionicspirit.us6.list-manage.com/subscribe/post?u=bb8f825197b36f5604bdb09dc&amp;id=5305eab365" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
  </div>

  <!--End mc_embed_signup-->  
</article>




