<h2 id="comments">
  Comments
  <a href="#comments" class="anchor">#</a>
</h2>

<div class="only-js">
  Want to chat in private? Email me:
  <script id="email-script">
    (function () {
      var lhs = "{{ site.contact.email.username }}+comments";
      var rhs = "{{ site.contact.email.domain }}";
      var d = document;
      var a = d.createElement("a");
      a.setAttribute("target", "_blank");
      a.setAttribute("href", "mailto:" + lhs + "@" + rhs + "?subject=Comment%20on%3A%20{{ page.title | uri_escape | trim }}");
      a.text = lhs + "@" + rhs;
      var es = d.getElementById("email-script");
      es.parentNode.insertBefore(a, es);
    })();
  </script>
  <noscript>
    <em>Email address is protected via JavaScript, activate it to see it!</em>
  </noscript>

  <p class="small-note">
    The address is changed periodically to avoid spam.
  </p>
</div>

{% if page.has_comments %}
<div id="comments">
  <script async
          data-isso="https://alexn.org/comments/alexn/"
          data-isso-css="false"
          data-isso-lang="en"
          data-isso-reply-to-self="true"
          data-isso-require-author="true"
          data-isso-require-email="false"
          data-isso-reply-notifications="true"
          data-isso-max-comments-top="30"
          data-isso-max-comments-nested="20"
          data-isso-reveal-on-click="20"
          data-isso-gravatar="true"
          data-isso-avatar="false"
          data-isso-vote="false"
          data-vote-levels=""
          src="https://alexn.org/comments/alexn/js/embed.min.js"></script>
  <section id="isso-thread" data-title="{{ page.title }}">
  </section>
</div>
<noscript>
  <div class="note-warning">
    <strong>Enable JavaScript to see the email address or the public comments!</strong>
    <br>
    <span class="extra">
      Commenting widget is powered by a self-hosted commenting server.
      <span style="white-space: nowrap;">
        Read the <a href="{% link docs/privacy-policy.md %}">privacy policy</a>.
      </span>
    </span>
  </div>
</noscript>
{% endif %}