<h2>Contribute</h2>

<div id="contributions">
  <script data-isso="/comments/alexn/"
          data-isso-css="true"
          data-isso-lang="en"
          data-isso-reply-to-self="true"
          data-isso-require-author="true"
          data-isso-require-email="false"
          data-isso-reply-notifications="true"
          data-isso-max-comments-top="10"
          data-isso-max-comments-nested="5"
          data-isso-reveal-on-click="5"
          data-isso-gravatar="true"
          data-isso-avatar="false"
          data-isso-vote="true"
          data-vote-levels=""
          src="https://alexn.org/comments/alexn/js/embed.min.js"></script>
  <section id="isso-thread" data-title="<%= current_page.data.title || website.title %>">
  </section>
</div>

<p>
  If you noticed a typo, help me by submitting a pull request:
  <a style="white-space: nowrap;" href="https://github.com/alexandru/alexn.org/blob/master/{{ page.path }}" target="_blank">Edit Page on GitHub</a>
</p>
