<h2>Feedback?</h2>

<p>
  If you wish to discus this article, an email would be most welcome:
  <!--sse-->
  <script>
    (function () {
      var lhs = "y20+comments";
      var rhs = "alexn.org";
      var subject = "{% if page.title %}{{ page.title | prepend: 'Comment on `' | append: '`' | uri_encode }}{% endif %}";
      document.write("<a href=\"mailto");
      document.write(":" + lhs + "@");
      document.write(rhs);
      if (subject) { document.write("?subject=" + subject); }
      document.write("\">" + lhs + "@" + rhs + "<\/a>");
    })()
  </script>
  <noscript>
    <em>Email address is protected by JavaScript, activate it to see it!</em>
  </noscript>
  <!--/sse-->
</p>

<p>
  If you noticed a typo, help me by submitting a pull request:
  <a style="white-space: nowrap;" href="https://github.com/alexandru/alexn.org/blob/master/{{ page.path }}" target="_blank">Edit Page on GitHub</a>
</p>
