<div id="footer-comments-widget">
  {% include comments.html %}
</div>

<h2 id="contribute">
  Contribute
  <a href="#contribute" class="anchor">#</a>
</h2>

<p>
  Fix or add to this article by submitting a pull request:<br/>
  <a style="white-space: nowrap;" href="{{ page.repo_edit | default: site.repo_edit }}{% if page.repo_module %}{{ page.path | remove_first: page.repo_module }}{% else %}{{ page.path }}{% endif %}" target="_blank">Edit Page on GitHub</a>
</p>

<p>
  Donate to cover ongoing website costs, or buy me coffee ☕️😋 <br/>
  <a href="https://www.patreon.com/bePatron?u=6102596" target="_blank" class="patreon-button">
    <img label="Become a Patron!" alt="Become a Patron!" title="Become a Patron!" src="{% link /assets/media/buttons/patreon.png %}" />
  </a>
</p>

{% if layout.has_subscribe or page.has_subscribe %}
<h2 id="subscribe">
  Subscribe
  <a href="#subscribe" class="anchor">#</a>
</h2>

<p>  
  <a target="_blank" href="https://alexn.us4.list-manage.com/subscribe?u=5bffa2af025192a58345bd5dc&id=1c9005b255" rel="nofollow"><span class="link-logo"><img src="{% link /assets/logo/email.svg %}" /></span>Subscribe by email</a>
  and receive notifications for new blog articles. No spam, just content. 
  Powered by <a href="https://mailchimp.com/" rel="nofollow" target="_blank">Mailchimp</a>. 
  See <a href="{% link docs/privacy-policy.md %}#email-newsletter">privacy policy</a>.
</p>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://alexn.us4.list-manage.com/subscribe/post?u=5bffa2af025192a58345bd5dc&amp;id=1c9005b255"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group field">
        <label for="mce-EMAIL">Email Address <sup class="asterisk">*</sup></label>
        <input type="email" value="" name="EMAIL" class="required email full-width" id="mce-EMAIL" placeholder="user@domain.com" required>
      </div>
      <!-- <div class="mc-field-group field">
        <label for="mce-FULLNAME">Name</label>
        <input type="text" value="" name="FULLNAME" class="full-width" id="mce-FULLNAME" placeholder="John Doe">
      </div> -->
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
          name="b_5bffa2af025192a58345bd5dc_1c9005b255" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
          class="button"></div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
{% endif %}
