
<h2>Contribute</h2>

<p>
  Fix or add to this article by submitting a pull request:
  <a style="white-space: nowrap;" href="{{ page.repo_edit | default: site.repo_edit }}{% if page.repo_module %}{{ page.path | remove_first: page.repo_module }}{% else %}{{ page.path }}{% endif %}" target="_blank">Edit Page on GitHub</a>
</p>

<p>
  Send an email if you wish to discuss this article in private:<br>
  <!--sse-->
  <script>
    (function () {
      var lhs = "comments";
      var rhs = "y20.alexn.org";
      var subject = "{% if page.title %}{{ page.title | prepend: 'Comment on `' | append: '`' | uri_encode }}{% endif %}";
      document.write("<a href=\"mailto");
      document.write(":" + lhs + "@");
      document.write(rhs);
      if (subject) { document.write("?subject=" + subject); }
      document.write("\">" + lhs + "@" + rhs + "<\/a>");
    })()
  </script>
  <noscript>
    <div class="note">
      <em>Email address is protected by JavaScript, activate JavaScript in this page to see it!</em>
    </div>
  </noscript>
  <!--/sse-->
</p>

{% comment %}
{% unless page.disable_comments %}
<h3 id="comments">Comments</h3>

<script>
  document.write('<div class="note">Be nice!<br><span class="extra">If you don\'t see the commenting widget, it might be blocked (see this <a href="https://github.com/utterance/utterances/issues/341" target="_blank">Privacy Badger issue</a>).</span></div>');
</script>
<script src="https://utteranc.es/client.js"
        repo="alexandru/alexn.org"
        issue-term="pathname"
        label="discussion"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<noscript>
  <div class="note">
    <strong>Enable JavaScript to see comments!</strong>
    <br>
    <span class="extra">
      Commenting widget is powered by GitHub's API and 
      <a href="https://utteranc.es" target="_blank">utteranc.es</a>. This website does not
      track visitors or log personally identifiable information, see our 
      <a href="{% link docs/privacy-policy.md %}">privacy policy</a>.
    </span>
  </div>
</noscript>
{% endunless %}
{% endcomment %}