<div class="footer">
  {% if page.has_contributions %}
  <div class="container">
    <div class="contributions">
      {% include contributions.html %}
    </div>
  </div>
  {% endif %}

  <div class="bottom">
    <div class="container">
      <span class="copy">
          &copy; 2009-{{ site.time | date: '%Y' }}
      </span>
      <span class="links">
        <a href="{{ site.baseurl }}/docs/license/">License</a> |
        <a href="{{ site.baseurl }}/docs/privacy-policy/">Privacy Policy</a> |
        <a href="{{ site.baseurl }}/about/#contact">Contact</a>
        <!-- Hidden links -->
        <link href="{{ site.author.mastodon }}" rel="me" />
        <link href="https://github.com/{{ site.author.github }}" rel="me authn" />
        <link href="https://www.linkedin.com/in/{{ site.author.linkedin }}/" rel="me" />
        <link href="https://www.youtube.com/alexelcu/" rel="me" />
        <link href="{{ site.author.bluesky }}" rel="me" />
      </span>
    </div>
  </div>
</div><!-- end .footer -->
