<div class="footer">
  {% if page.has_contributions %}
  <div class="container">
    <div class="contributions">
      {% include contributions.html %}
    </div>  
  </div>
  {% endif %}

  <div class="bottom">
    <div class="container">
      <span class="copy">
          &copy; {{ site.time | date: '%Y' }}
      </span>
      <span class="links">
        <a href="{{ site.baseurl }}/docs/license.html">License</a> |
        <a href="{{ site.baseurl }}/docs/privacy-policy.html">Privacy Policy</a> |
        <a href="{{ site.baseurl }}/about.html#contact">Contact</a>
      </span>
    </div>
  </div>
</div><!-- end .footer -->
