<div class="footer">
  {% if page.has_contributions %}
  <div class="container">
    <div class="contributions">
      {% include contributions.html %}
    </div>
  </div>
  {% endif %}

  <div class="bottom">
    <div class="container">
      <span class="copy">
          &copy; 2009-{{ site.time | date: '%Y' }}
      </span>
      <span class="links">
        <a href="{{ site.baseurl }}/docs/license/">License</a> |
        <a href="{{ site.baseurl }}/docs/privacy-policy/">Privacy Policy</a> |
        <a href="{{ site.baseurl }}/about/#contact">Contact</a>
        <span id="other-social-profiles" class="hidden">
          | <a href="{{ site.author.mastodon }}" rel="me">Social</a>
        </span>
      </span>
    </div>
  </div>
</div><!-- end .footer -->
