<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="color-scheme" content="light dark">
    <!--https://developers.google.com/web/fundamentals/design-and-ux/browser-customization-->
    <meta name="theme-color" content="#493667">

    <title>{% if page.title %}{{ page.title | xml_smart_escape }}{% unless page.has_full_title %} - {{ site.title }}{% endunless %}{% else %}{{ site.title | xml_smart_escape }} - {{ site.description | xml_escape }}{% endif -%}</title>
    {% capture page_or_site_title %}{% if page.title %}{{ page.title | xml_smart_escape }}{% else %}{{ site.title | xml_smart_escape }}{% endif -%}{% endcapture %}

    <!-- Open Graph Meta -->
    <meta property="og:site_name" content="{{ site.title | xml_smart_escape }}">
    <meta property="og:title" content="{{ page_or_site_title | xml_smart_escape }}">
    {% if page.description -%}
    <meta property="og:description" content="{{ page.description | markdownify | strip_html | xml_escape | strip }}">
    {% else %}
    <meta property="og:description" content="{{ site.description | markdownify | strip_html | xml_escape | strip }}">
    {% endif -%}
    {% if page.url -%}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% endif -%}
    {% if page.date -%}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% endif -%}
    {% if page.last_modified_at -%}
    <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
    {% endif -%}
    {% if page.youtube -%}
    <meta property="og:type" content="video.other" />
    <meta property="og:video:url" content="{{ page.youtube | youtube_player_link }}" />
    <meta property="og:video:secure_url" content="{{ page.youtube | youtube_player_link }}" />
    <meta property="og:video:type" content="text/html" />
    <meta property="og:video:width" content="560" />
    <meta property="og:video:height" content="315" />
    <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}?{{ 'now' | date: '%Y%m%d%H%M' }}{% else %}{{ page.youtube | youtube_thumb_link }}{% endif %}" />
    <meta property="og:image:secure_url" content="{% if page.image %}{{ site.url }}{{ page.image }}?{{ 'now' | date: '%Y%m%d%H%M' }}{% else %}{{ page.youtube | youtube_thumb_link }}{% endif %}" />
    {% elsif page.image -%}
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.url }}{{ page.image }}?{{ 'now' | date: '%Y%m%d%H%M' }}" />
    <meta property="og:image:secure_url" content="{{ site.url }}{{ page.image }}?{{ 'now' | date: '%Y%m%d%H%M' }}" />
    {% else -%}
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ '/assets/logo/800px-bordered.png' | prepend: site.url }}" />
    <meta property="og:image:secure_url" content="{{ '/assets/logo/800px-bordered.png' | prepend: site.url }}" />
    {% endif -%}

    <!-- Twitter Cards -->
    {% if page.youtube -%}
    <!-- <meta name="twitter:card" content="player" />
    <meta name="twitter:player" content="{{ page.youtube | youtube_player_link }}">
    <meta name="twitter:player:width" content="560">
    <meta name="twitter:player:height" content="315"> -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{% if page.image %}{{ page.image | prepend: site.url }}?{{ 'now' | date: '%Y%m%d%H%M' }}{% else %}{{ page.youtube | youtube_thumb_link }}{% endif %}" />
    {% elsif page.image -%}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="{{ page.image | prepend: site.url }}?{{ 'now' | date: '%Y%m%d%H%M' }}">
    {% else -%}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ '/assets/logo/800px-bordered.png' | prepend: site.url }}">
    {% endif -%}
    <meta name="twitter:site" content="@{{ site.author.twitter }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <meta name="twitter:title" content="{{ page_or_site_title }}">
    {% if page.url -%}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif -%}
    {% if page.description -%}
    <meta name="twitter:description" content="{{ page.description | markdownify | strip_html | xml_escape | strip }}">
    {% else -%}
    <meta name="twitter:description" content="{{ site.description | markdownify | strip_html | xml_escape | strip }}">
    {% endif -%}

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% link /favicon.ico %}" sizes="48x48" />
    <link rel="icon" href="{% link /assets/logo/16px.png %}" sizes="16x16" />
    <link rel="icon" href="{% link /assets/logo/32px.png %}" sizes="32x32" />
    <link rel="icon" href="{% link /assets/logo/192px.png %}" sizes="192x192" />
    <link rel="icon" href="{% link /assets/logo/270px.png %}" sizes="270x270" />
    <link rel="icon" href="{% link /assets/logo/512px.png %}" sizes="512x512" />
    <link rel="apple-touch-icon-precomposed" href="{% link /assets/logo/180px.png %}" />
    <meta name="msapplication-TileImage" content="{% link /assets/logo/270px.png %}" />

    <!-- Come and get me RSS readers -->
    {% if page.nav_id == '/wiki/' -%}
    <link rel="alternate" type="application/rss+xml" title="Wiki articles" href="{% link feeds/wiki.xml %}" />
    {% else -%}
    <link rel="alternate" type="application/rss+xml" title="Blog articles" href="{% link feeds/blog.xml %}" />
    {% endif -%}

    <!-- Points at alexn.org, taking care of the search-engine indexing of mirrors: -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <style type="text/css" media="all">
      {{ site.data.styles }}
    </style>
</head>
