<div class="header">
  <div class="container">
    <div class="inner-container">
      <h1 class="logo"><a href="{{ site.baseurl }}/">Alex<span class="wide2">andru</span> Nedelcu<span class="wide1"> =&lt;&lt;</span></a></h1>
      <nav class="nav-collapse">
        <ul class="noList">
          {% for link in site.navigation %}{% assign current = nil %}{% if page.url == link.id or page.nav_id == link.id %}{% assign current = 'current' %}{% endif %}
          <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title | xml_escape }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>  
    </div>
  </div>
</div><!-- end .header -->
