<!--sse-->
<h2>Contact</h2>

<div class="content">
  <script>
    (function () {
      var lhs = "contact22+legal";
      var rhs = "alexn.org";
      document.write("<a href=\"mailto");
      document.write(":" + lhs + "@");
      document.write(rhs);
      document.write("\">" + lhs + "@" + rhs + "<\/a>");
    })();
  </script>
  <noscript>
    <em>Email address is protected by JavaScript, activate it to see it!</em>
  </noscript>

  <div class="small-note">
    The address is changed periodically to avoid spam.
  </div>
</div>
<!--/sse-->
