<!--sse-->
<h2>Contact</h2>

<div class="content">
  <script id="email-script">
    (function () {
      var lhs = "{{ site.contact.email.username }}";
      var rhs = "{{ site.contact.email.domain }}";
      var d = document;
      var a = d.createElement("a");
      a.setAttribute("target", "_blank");
      a.setAttribute("href", "mailto:" + lhs + "@" + rhs);
      a.text = lhs + "@" + rhs;
      var es = d.getElementById("email-script");
      es.parentNode.insertBefore(a, es);
    })();
  </script>
  <noscript>
    <em>Email address is protected via JavaScript, activate it to see it!</em>
  </noscript>

  <div class="small-note">
    The address is changed periodically to avoid spam.
  </div>
</div>
<!--/sse-->
