<script async src="{% link /assets/js/modernizr.custom.15390.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
<script async src="{% link /assets/js-managed/jquery/dist/jquery.slim.min.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
<script async src="{% link /assets/js/dropcap.min.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
<script async src="{% link /assets/js/responsive-nav.min.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
{% if page.mathjax -%}<script async src="{% link assets/js/load-mathjax.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}"></script>{% endif %}
<script async src="{% link assets/js/scripts.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
