<script async src="{% link /assets/js/modernizr.custom.15390.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
<script async src="{% link /assets/js-managed/jquery/dist/jquery.slim.min.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
<script async src="{% link /assets/js/dropcap.min.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
<script async src="{% link /assets/js/responsive-nav.min.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>
{% if page.mathjax -%}<script async src="{% link assets/js/load-mathjax.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}"></script>{% endif %}
<script async src="{% link assets/js/scripts.js %}?{{ 'now' | date: '%Y%m%d%H%M' }}" type="text/javascript"></script>

<script type="text/javascript">
  var _paq = window._paq || [];
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);

  (function () {
    var u="//ly.alexn.org/";
    _paq.push(['setTrackerUrl', u+'m.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'m.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
  {% capture page_name %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif -%}{% endcapture %}
  <img src="https://ly.alexn.org/m.php?idsite=1&rec=1&action_name={{ page_name | url_encode }}" style="border:0" alt="" />
</noscript>
