{% capture vimeo %}{% if page.vimeo %}{{ page.vimeo }}{% else %}{{ include.id }}{% endif -%}{% endcapture -%}

<figure class="video">
  <div class="video-container">
    <span class="embed-vimeo" style="text-align:center; display: block;">
      <iframe src="https://player.vimeo.com/video/{{ vimeo }}?title=0&byline=0&portrait=0&dnt=1" width="1100" height="619" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </span>
  </div>
  <noscript>
    <a href="{{ vimeo | vimeo_link }}" target="_blank">
      <img src="{{ vimeo | vimeo_thumb_play_link }}" />
    </a>
  </noscript>  
  <figcaption>
    <noscript>
      <em>JavaScript is disabled, embedding not possible, but you can still view this video on Vimeo.</em><br>
    </noscript>
    <a href="https://vimeo.com/{{ vimeo }}" target="_blank">
      {% if include.caption %}{{ include.caption }}{% else %}Link{% endif %}
      (Vimeo)
    </a>
  </figcaption>
</figure>
