---
layout: default
type: post
---

<article id="post">
  <header>
    <h1 itemprop="name">{{ page.title }}</h1>
    <div id="meta">
      <div class="post-date">Published: {{ page.date | date_to_string }}</div>
    </div>
  </header>

  <div id="content">
    {{ content }}

    <h2>Subscribe</h2>

    <p>
      If you liked this article, subscribe <a
      href="/pages/subscribe.html">by Email</a> or by RSS.
    </p>

    <p>
      Thanks,
    </p>
  </div>

  <footer>
    <div id="other-articles">
      <h2>Other Articles</h2>

      <ul class="posts">
	{% for post in site.related_posts limit:5 %}
	{% include render-post-link.html %}
	{% endfor %}
      </ul>
    </div>

    {% if site.build_type == "production" %}
    <!--
    <div id="contributions">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
	var disqus_shortname = '{% if page.disqus_id %}{{ page.disqus_id }}{% else %}alexnorg{% endif %}'; 
        var disqus_url = 'http://bionicspirit.com{{ page.url }}';

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    -->
    {% endif %}
  </footer>
</article>

