/***************
PAGE WIDTH
***************/

$elementsWidth: 75%;

/***************
COLOR VARIABLES
***************/

// Better default colors
// Cool
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
// Warm
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$grey:   #aaa;
$black:  #111;

// Color variables
$primary-color-light: #00649e;
$primary-color-dark: #00c1ff;

$secondary-color-light: #008bd8;
$secondary-color-dark: lighten($secondary-color-light, 10%);
$tertiary-color: #aaa;

$link-color-light: $primary-color-light;
$link-color-dark: $primary-color-dark;

$background-color: $primary-color-light;
$header-color-light: #473864;
$header-color-dark: $header-color-light;

$all-headers-color-light: $black;
$all-headers-color-dark: rgb(221, 218, 214);

$bad-color: $red; // Bad color for errors, validation etc.
$good-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text

$text-color-light: $black;
$text-color-dark: rgb(221, 218, 214);

$site-background-image: url("/assets/media/tile-graphpaper.png");
$site-background-light: #ffffff;
$site-background-dark: #171a1b;

$scrollbar-background-dark: #1e2223;
$scrollbar-thumb-dark: #727173;

/***************
CONSISTENT SETTINGS
***************/

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.


/***************
TYPE SETTINGS
***************/

$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: "PT Serif", Georgia, Times, serif;
$monospace: "Fira Code", monospace, monospace;

$header-font: $monospace;
