@use "sass:color";
@use "config";

@mixin code-inline-dark {
  background: #22272d;
  color: #adbac7;
}

@mixin code-rectangle-dark {
  @include code-inline-dark;
  border: 1px solid #333;
}

@mixin form-elements {
  label {
    color: #777;
  }

  select,
  input,
  textarea,
  button,
  .textarea,
  input[type="text"],
  input[type="email"],
  input[type="phone"],
  input[type="password"],
  input[type="number"],
  input[type="search"] {
    border: 1px solid hsl(0, 0%, 10%);
    color: #afafaf;
    background: hsl(0, 0%, 14%);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"] {
    border: 1px solid hsl(0, 0%, 15%);
    background: hsl(0, 0%, 20%);
  }

  ::placeholder {
    color: inherit;
    opacity: 1;
  }
}

:root {
  color-scheme: light dark; /* both supported */
}

html,
body,
* {
  scrollbar-width: thin;
  scrollbar-color: config.$scrollbar-thumb-dark config.$scrollbar-background-dark;
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: config.$scrollbar-background-dark;
}

body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: config.$scrollbar-thumb-dark;
  border-radius: 6px;
  border: 3px solid config.$scrollbar-background-dark;
}

html {
  background-color: config.$site-background-dark;
  background-image: none;
}

body {
  background-color: config.$site-background-dark;
  background-image: none;
  color: config.$text-color-dark;

  a {
    color: config.$link-color-dark;

    &:hover {
      color: color.adjust(config.$link-color-dark, $lightness: -15%);
    }
  }

  .header {
    background-color: config.$header-color-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: config.$all-headers-color-dark;
  }

  pre > code, div.formula-code {
    @include code-rectangle-dark;
  }

  form {
    @include form-elements;
  }

  .post {
    header nav.toc {
      border-color: config.$color-border-dark;
    }

    .info-bubble {
      background-color: #25313c;
      border-color: color.adjust($color: #25313c, $lightness: 10%);
      color: config.$text-color-dark;
    }

    .warn-bubble {
      background-color: #362521;
      border-color: color.adjust($color: #362521, $lightness: 10%);
      color: inherit;
    }

    hr {
      border-color: config.$color-border-dark;
    }

    #article-details {
      border-color: config.$color-border-dark;

      #all-categories {
        border-color: config.$color-border-dark;
      }
    }

    div.related {
      border-color: config.$color-border-dark;
    }

    .meta,
    #article-details {
      color: #778899;
    }

    .intro::first-letter {
      color: config.$primary-color-dark;
    }

    blockquote {
      color: config.$muted-text-dark;
      border-left-color: config.$color-border-dark;
    }

    .transparency-fix {
      background-color: #6f8288;
    }
  }

  .button {
    &-secondary {
      background-color: config.$secondary-color-dark;

      &:hover {
        background-color: color.adjust(config.$secondary-color-dark, $lightness: -10%);
      }
    }
  }

  a.button__outline {
    border: 3px solid config.$primary-color-dark;
    color: config.$primary-color-dark;

    &:hover {
      background-color: config.$primary-color-dark;
      color: config.$white;
    }
  }

  .post div.related div.container div.item .related-meta,
  div.archive_list div.container div.item .related-meta {
    color: #778899;
  }

  .post div.related h2,
  div.archive_list h2 {
    color: config.$all-headers-color-dark;
  }

  .footer {
    background-color: color.adjust($color: config.$site-background-dark, $lightness: 5%);
    background-image: none;

    .contributions {
      #isso-thread {
        @include form-elements;

        & > h4 {
          color: color.adjust(#778899, $lightness: 5%);
        }

        .isso-comment > div.isso-text-wrapper > .isso-comment-header {
          color: #778899;
        }

        .isso-comment > div.isso-text-wrapper > .isso-comment-header .author {
          color: color.adjust(#778899, $lightness: 5%);
        }

        .isso-comment > .isso-text-wrapper {
          blockquote {
            border-left-color: rgb(58, 62, 65);
            background-color: rgb(29, 31, 32);
            color: rgb(157, 148, 136);
          }

          code {
            @include code-inline-dark;
          }

          pre {
            @include code-rectangle-dark;
          }
        }
      }

      .note-warning {
        border: 1px solid config.$site-background-dark;
        background-color: color.adjust($color: config.$site-background-dark, $lightness: 3%);
        .extra {
          color: lightslategray;
        }
      }
    }

    .bottom {
      background: config.$site-background-dark;
      color: lightslategray;
      border-top: 2px solid color.adjust(config.$site-background-dark, $lightness: 5%);
      border-bottom: 2px solid color.adjust(config.$site-background-dark, $lightness: 5%);
    }

    #footer-comments-widget {
      border-bottom: 2px solid color.adjust(config.$site-background-dark, $lightness: 20%);
    }
  }

  div.archive_list:before, .posts li:before {
    background: color.adjust(config.$site-background-dark, $lightness: 15%);
  }
}

.video {
	.youtube-play-link {
    box-shadow: 0px 0px 5px 0px rgba(200, 200, 200, 0.3);
  }
}

span.link-logo img {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  opacity: 0.7;
}

a span.link-logo img {
  //filter: invert(65%) sepia(90%) saturate(553%) hue-rotate(167deg) brightness(92%) contrast(89%);
  filter: invert(84%) sepia(22%) saturate(6251%) hue-rotate(180deg) brightness(110%) contrast(111%);
  opacity: 1;
}
