---
title: "Privacy Policy"
description: "The privacy policy for developed extensions and applications"
---

# Privacy Policy

**UPDATED:** Jan 12, 2019

## Website Analytics

The `alexn.org` website uses Google Analytics, a service which transmits website traffic data to Google servers. Google Analytics does not identify individual users or associate your IP address with any other data held by Google. Reports provided by Google Analytics are used to help us understand website traffic and webpage usage.

You may opt out of this tracking at any time by activating the “Do Not Track” setting in your browser.

## Comments

The `alexn.org` website uses [Isso](https://posativ.org/isso/) for commenting.

When writing a comment, the author can provide his/her email address. 
If added, this email address is only used for receiving replies by email.
And the author's name and optional website URL are only used for 
displaying the comments on the website.

No data is shared with any third-party service, the commenting system
is self hosted.

## Contact

If you wish to export or delete your commenting data, 
you can send a request to:

<a href="mailto:&#108;&#101;&#103;&#097;&#108;&#064;&#109;&#057;&#046;&#097;&#108;&#101;&#120;&#110;&#046;&#111;&#114;&#103;">&#108;&#101;&#103;&#097;&#108;&#064;&#109;&#057;&#046;&#097;&#108;&#101;&#120;&#110;&#046;&#111;&#114;&#103;</a>

<br/>
