---
# CSS file for code snippets.
---

// Reset using Normalize
@import "normalize";
@import "modules/syntax-customizations";
@import "modules/syntax";

html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  padding: 10px;
  font-size: 120%;

  figure, img {
    max-width: 100%;
  }

  div.highlight {
    padding: 0 10px;
  }

  footer {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0;
    font-size: 100%;

    .highlight {
      border-radius: 0;
    }

    footer {
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 80%;
  }
}
