---
# CSS file for code snippets.
---

// Reset using Normalize
@import "normalize";
@import "modules/syntax";

html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

body {
  padding: 10px;
  font-size: 120%;

  div.highlight {
    padding: 0 10px;
  }
}
