---
# Main css file.
# This header ensures Jekyll reads the file to be transformed into CSS later
---

// Site configuration
@import "config";

// Reset using Normalize
@import "normalize";
// Import fonts from Google
@import "fonts";

// Import Partials
@import "partials/typography";
@import "partials/mixins";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 375px) { @import "breakpoints/375up";}
@media only screen and (min-width: 500px) { @import "breakpoints/500up";}
@media only screen and (min-width: 800px) { @import "breakpoints/800up";}
@media only screen and (min-width: 1200px) { @import "breakpoints/1200up";}

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes

