---
title: "The Internet is Bringing True Democracy in Romania"
tags:
  - Internet
  - Rosia Montana
  - Uniti Salvam
---

<div class="image-right">
  <%= image_tag "2013/rosia-montana.jpg", :class => "right", :width => 400 %>
  <span>Photo by <a href="https://www.facebook.com/dcristofor">Dominic Cristofor</a></span>
</div>

The story involves a
[gold mining project](http://en.wikipedia.org/wiki/Ro%C8%99ia_Montan%C4%83#Mining_project)
of a dubious company, a project in the approval process ever since
1995, with a Canadian company earning the contract for the
exploitation of Roşia Montana from our state by means of a faked
auction, with each government passing the hot potato to the next.

It's a story filled with corruption of wild proportions, stock market
speculations, illegal contracts, a whole region being declared as a
mono-industry to starve its inhabitants, a project that will bring
only dimes and nickels to our budget, that will destroy 4 mountains,
about 4282 hectares of land, 250 hectares of forest and the oldest
mining galleries in Europe (predating the Romans) that are part of our
cultural and historical heritage. It will also destroy a beautiful
landscape and will leave in its wake an 8 Km wide crater, 400m in
depth, with water contaminated with cyanide and rare metals, that can
spill in the nearby Abrud river and can also reach Tisza and the
Danube. 

It's not like environmental disasters haven't happened already in the
[Baia Mare cyanide spill](http://en.wikipedia.org/wiki/2000_Baia_Mare_cyanide_spill),
which was considered to be the biggest European environmental disaster
since Chernobyl and take note, in all of Europe about 1000 tons of
cyanide are used per year, whereas the project at Roşia Montană is
supposed to use about 13,000 tons of cyanide per year. And the budget
specified for "greening" the place is laughable.

Protests have been going on for years, however starting with September
1st it gained traction, as thousands went to the streets of Romania in
all major cities, after our government came up with a clearly
unconstitutional legislative proposal that allows this private company
to make expropriations, trumping our property rights. Since then the
protest grew bigger and bigger. On Sunday, September 8 we've had
**tens of thousands of people** marching on the streets of all major
cities. Yesterday, on September 15th, we've had even more, with at
least 25,000 people marching on the streets of Bucharest, another
10,000 people marching in Cluj, in addition to the thousands in all
other major cities. The protest also has an international reach, as
Romanians in Dispora organized protests and gathered support in over
20 major cities worldwide, including Washington DC, New York, London,
Toronto and Berlin.

<div class="image-right">
  <%= image_tag "2013/rosia-montana-2.jpg", :width => 400 %>
  <span>Photo by <a href="https://www.facebook.com/cristian.vasile">Cristian Vasile</a></span>
</div>

If you add up the numbers, it may not seem like much, but for us it is
a big deal, as this is the biggest, most informed, most civilized
protest we've had ever since
1990.

"*A whole generation of people who, for the past 20 years, have been
living each inside their own bubble, minding their own business,
studying, building careers and families, has come out on the streets
to raise its collective voice for the future of the next generation.*"
- [Romania is Rising](https://medium.com/better-humans/9ee7d4af363f)

What pissed me off the most was the almost total **mass-media
blackout** of these events. During the protests only one
[small TV](http://nasul.tv) station did full broadcasting of the
events during September 1st and September 8th, with
[another one](http://realitatea.net) following with timorous steps. No
major TV or newspaper covered the protests, until September 9th and
when they started doing it, a massive disinformation and manipulation
campaign followed, seeking to discredit the protestants in the eyes of
the public opinion. It is public knowledge that the corporation behind
this project had massive investments in advertising campaigns, meant
to shift the public opinion about the project, not to mention its
proven ties to our political landscape, coercing mass-media companies
to shut their mouths in the process.

<%= image_tag "2013/rosia-montana-6.jpg", :class => "right", :width => 300 %>

I realize that newspapers and TV stations do not have any social
contract for them to work for the public good. Nothing prevents them
from doing this and we must understand that we, as their audience, *we
are the product that they sell to their true customers, the
advertisers*. However I always thought that because of capitalism the
competition arising by the rules of the free market will prevent such
massive cases of deceitfulness.

Self-censorship at its best. Things weren't this worse even when our
former dictator Ceauşescu was ruling this country (at least then
people were tuned to Radio Free Europe). It's like we are living the
stories in
[Confessions of an Economic Hit-man](http://en.wikipedia.org/wiki/Confessions_of_an_Economic_Hit_Man).

And yet yesterday, on September 15th, there were even more people on
the streets. And next Sunday, on September 22nd the protest might grow
in intensity yet again, with big uprisings being planned on every
Sunday until the demands are met. There's no end in sight. Our
prime-minister declared yesterday that he would meet with
representatives of the protests, if only he "*knew who they are*", for
negotiations (poor bastard, he still doesn't get it). But people don't
want another negotiation or another compromise, instead they want all of
their demands to be met and the resignation of our prime-minister was
just added to that list. And if you can boil it down to just one
demand, the message is powerful and clear:

*We want to live under the rule of law!*

But the 4th power in the state, the mass-media, has failed us all.

Yet, how could these protests happen, in spite of the censorship, in
spite of the manipulation campaign that the Gold Corporation has been
carrying for years, in spite of our politicians desire to do PR work
for this corporation?

## The Internet and Romania's Autumn are Here

It was quite funny to notice the reactions of politicians and the
old-media. They tried rationalizing it with things like - oh, these
are just "hipsters", they don't have the facts, they are mobilized by
so and so non-profit organizations, somebody paid them, they are just
kids on crack and so on. It's true that these may be part of a public
opinion manipulation campaign, however the messages delivered until
now have been so incoherent that they reek of incompetence and
stupefaction.

It seems as if they are also trying to lie to themselves in believing
that the world is still the same, as they start grasping the truth
little by little - **that they are losing control**. I can only imagine
the chill down their spine this idea sends.

We now have a middle-class that uses the Internet for dissemination of
information and for organizing themselves. People aren't blind
anymore. The apathetic population that is tired of voting for the
lesser evil is now rising.

<%= image_tag "2013/woody-rosia.jpg", :class => "right", :width => 300 %>

People used social networks like Facebook and Twitter to spread
information and photos, to come up with plans for informing the public
opinion and to organize the events. Independent journalists, that
aren't controlled by puppeteers, wrote wonderful pieces on the subject
using publishing platforms like Wordpress that couldn't be shut
down. They used YouTube to upload videos of the
protests. [Google Trends](http://www.google.com/trends/explore?q=rosia+montana#q=rosia%20montana&cmpt=q)
shows a big spike in the interest for this subject being
searched. Also, even though the [only television](http://nasul.tv)
with full coverage of the event has been pulled from the base package
of the largest cable TV operator (of course, with ties to the Gold
Corporation), their transmission was available online for all by
live
streaming. [Reddit](http://www.reddit.com/r/worldnews/comments/1ln2pa/romanian_government_changes_environment_law_to/)
you were there too.

A thing of beauty so to speak.

You can search for #unitisalvam #rosiamontana BTW, on both Facebook
and Twitter. The pictures and messages sent live, during the events,
by means of smartphones are simply awesome.

The Internet is bringing down walls. It allows people to communicate,
to be better informed, to learn, to organize, to create friendships,
to have a voice. It's a many-to-many communications and collaborations
platform that is quickly turning us into the "global village". It is
the culmination of everything we've invented so far, its importance
being second only to the discovery of electricity and the industrial
revolution that followed. It is changing the fabric of our society and
I'm experiencing it right now.

I'm proud to be a Romanian, but I'm also proud to be a *software
developer*. It's because we change things, many times for the
betterment of society.

I'll leave you with this wonderful quartet, interpreting "*Nothing
Else Matters*" by Metallica, silencing a square full of people on
September 9th:

<iframe style="display:block;margin:auto;margin-top:30px;margin-bottom:30px;max-width:99%;" width="640" height="480" src="//www.youtube.com/embed/QuqadkvOVik" frameborder="0" allowfullscreen></iframe>

And here's another one that captures the atmosphere on the 15th:

<iframe style="display:block;margin:auto;margin-top:30px;margin-bottom:30px;max-width:99%;" width="640" height="480" src="//www.youtube.com/embed/GsTMX1kh-gw" frameborder="0" allowfullscreen></iframe>

That's quite an elegant and beautiful protest, isn't it? 
