---
layout: default
has_subscribe: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="postTitle" itemprop="headline">
    <a href="{{ page.link }}" target="_blank">{{ page.title | xml_smart_escape }}</a>
  </h1>
  <p class="meta">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ page.url | absolute_url }}"/>
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%z' }}"/>{% endif %}
    <time itemprop="dateCreated" datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ page.date | date_to_long_string }}</time>
    {% unless page.disable_comments %}
    | <a href="{{ page.url | prepend: site.baseurl }}#isso-thread">comments</a>
    {% endunless %}        
</p>

  {% if page.image -%}
  <figure class="featuredImage" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ page.image | absolute_url }}" />
    <a href="{{ page.link }}" target="_blank">
      <img src="{{ page.image | prepend: site.baseurl }}?{{ 'now' | date: '%Y%m%d%H%M' }}" alt="Link to article" />
    </a>
    {% if page.caption %}
    <figcaption itemprop="caption">{{ page.image_caption }}</figcaption>
    {% endif %}
  </figure>
  {% elsif page.youtube %}
    {% include youtube.html id=page.youtube %}
  {% elsif page.vimeo %}
    {% capture caption %}{{ page.title }}, by {{ page.author }}{% endcapture %}
    {% include vimeo.html id=page.vimeo caption=caption %}
  {% endif %}

  <div class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="{{ site.title | xml_smart_escape }}">
    <meta itemprop="url" content="{{ '/about.html' | absolute_url }}">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="{{ '/assets/raw/logo-green.png' | absolute_url }}">
    </div>
  </div>

  <div id="content" itemprop="articleBody">
    <p>
      <strong>Author:</strong> {{ page.author }}
    </p>
    {{ content }}

    <p>
      <a href="{{ page.link }}" target="_blank">{{ page.link }}</a>
    </p>
  </div>

  {% assign all_links = site.links | rss_sort_all -%}
  {% assign links_count = all_links | size -%}
  {% if links_count > 1 %}
  <div class="related">
    <h2>Recent Links</h2>
    <div class="container">
      {% assign num=4 %}
      {% for recent_link in all_links limit:num %}
        {% if recent_link.url == page.url %}{% assign num=5 %}{% endif %}
      {% endfor %}
  
      {% for recent_link in all_links limit:num %}
      {% unless recent_link.url == page.url %}
      <div class="item">
        <a class="related-link" href="{{ site.baseurl }}{{ recent_link.url }}">
          {{ recent_link.title | xml_smart_escape }}
        </a>
        <div class="related-meta">
          <time>{{ recent_link.date | date_to_long_string }}</time>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endunless %}
      {% endfor %}
      <div class="clearfix"></div>
    </div>
  </div>
  {% endif %}
</article>
