---
layout: default
---

<div class="home" id="home">
  <h1 class="pageTitle">
    {% if page.autopages %}
    <span class="type">Links Tag:</span> {{ page.autopages.display_name }}
    {% else %}
    {{ page.title }}
    {% endif %}
  </h1>

  <div class="archive_list">
    <div class="container">
      {% for post in paginator.posts %}
      <div class="item">
        <a class="related-link" href="{{ post.link }}" target="_blank">{{ post.title | xml_smart_escape }}</a>
        {% if post.author %}<br>by <em>{% if post.author_link %}<a href="{{ post.author_link }}" target="_blank">{{ post.author }}</a>{% else %}{{ post.author }}{% endif %}</em>{% endif %}
        <div class="related-meta">
          <div class="tags">
            {% assign had_first_tag = false %}
            {% for tag in post.tags %}
            {% unless had_first_tag %}{% assign had_first_tag = true %}{% else %} | {% endunless -%}
            <a href="{{ tag | downcase | uri_escape | append: '/' | prepend: 'tag/' | prepend: page.nav_id | prepend: site.baseurl }}" class="tag">{{ tag }}</a>
            {% endfor %}            
          </div>
          <time>{{ post.date | date_to_long_string }}</time>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- Pagination links -->
  {% if paginator.total_pages != 1 %}
  <div class="pagination">
    <div class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </div>    

    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">
      Newer Articles ➡
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">
      ⬅ Older Articles
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
