---
layout: default
has_subscribe: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="postTitle" itemprop="headline">
      {{ page.title | xml_smart_escape | strip_newlines | strip }}
    </h1>
    <p class="meta">
      <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ page.url | absolute_url }}"/>
      {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%z' }}"/>{% endif %}
      {% capture minutes %}{% capture value %}{{ page.content | number_of_words | divided_by:180 }}{% endcapture %}{% if value == "0" %}1{% else %}{{ value }}{% endif %}{% endcapture %}
      <time itemprop="dateCreated" datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ page.date | date_to_long_string }}</time>
      | <span class="nobr"><span class="time">{{ minutes }}</span> {% if minutes == "1" %}minute{% else %}minutes{% endif %}</span>
      {% if page.has_contributions and page.has_comments %}
      | <a href="{{ page.url | prepend: site.baseurl }}#isso-thread" class="nobr">Comments</a>
      {% endif %}
    </p>

    {% if page.image -%}
      {% unless page.image_hide_in_post -%}
        {% if page.youtube %}
        {% include youtube.html id=page.youtube image=page.image caption=page.image_caption featured=true %}
        {% else %}
        <figure class="featuredImage" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="{{ page.image | absolute_url }}" />
          <img src="{{ page.image | prepend: site.baseurl }}?{{ 'now' | date: '%Y%m%d%H%M' }}" alt="{% if page.image_caption %}{{ page.image_caption | xml_escape }}{% endif %}" />
          {% if page.image_caption %}<figcaption itemprop="caption">{{ page.image_caption }}</figcaption>{% endif %}
        </figure>
        {% endif -%}
      {% else %}
      <div class="hidden" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ page.image | absolute_url }}" />
        {% if page.image_caption -%}
        <meta itemprop="caption" content="{{ page.image_caption | escape }}" />
        {% endif %}
      </div>
      {% endunless %}
    {% endif %}

    <div class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content="{{ site.title | xml_smart_escape }}">
      <meta itemprop="url" content="{{ '/about/' | absolute_url }}">
      <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ '/assets/raw/logo-green.png' | absolute_url }}">
      </div>
    </div>
    <div class="hidden" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="{{ site.author.name }}" />
      <meta itemprop="url" content="{{ '/about/' | absolute_url }}" />
      <meta itemprop="url" content="{{ site.author.mastodon }}" />
      <meta itemprop="url" content="{{ site.author.bluesky }}" />
      <meta itemprop="url" content="https://github.com/{{ site.author.github }}" />
      <meta itemprop="url" content="https://www.linkedin.com/in/{{ site.author.linkedin }}/" />
    </div>

    {% if page.generate_toc %}
    {% capture toc_html %}{% include toc.html h_min=2 h_max=3 html=content -%}{% endcapture -%}
    {% assign toc_html_stripped = toc_html | toc_filter: 2 %}
    {% if toc_html_stripped != "" %}
    <nav class="toc">
      <p class="toc-title">Table of Contents:</p>
      {{ toc_html_stripped }}
    </nav>
    {% endif -%}
    {% endif -%}
  </header>

  <div id="content" itemprop="articleBody">
    {% if page.mathjax -%}
    <noscript>
      <p class="warn-bubble">
<strong>WARN:</strong> This article is using <a href="https://github.com/mathjax/MathJax">Mathjax</a> to render math expressions. JavaScript is required to view the mathematical formulas properly.
      </p>
    </noscript>
    {% endif -%}
    {{ content }}
  </div>

  <div id="article-details">
    {% if page.last_modified_at -%}
      {% assign last_modified_at = page.last_modified_at -%}
      {% assign date_action = "Updated" -%}
    {% else -%}
      {% assign last_modified_at = page.date -%}
      {% assign date_action = "Published" -%}
    {% endif %}
    <time itemprop="dateModified" content="{{ last_modified_at | date: '%Y-%m-%dT%H:%M:%S%z' }}">
        {{ date_action }}: {{ last_modified_at | date_to_long_string }}
    </time>
    | Written by <a href="{{ '/about/' | absolute_url }}" itemprop="url" rel="author">{{ site.author.name }}</a>

    <div id="all-categories">
      Tags:
      {% for tag in page.tags %}
        {% unless forloop.first %} | {% endunless %}
        <a href="{{ tag | downcase | uri_escape | append: '/' | prepend: '/blog/tag/' | prepend: site.baseurl }}" class="category">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>

  {% assign related_posts = page | calculate_related_articles: site.posts -%}
  {% assign related_posts_count = related_posts | size -%}
  {% if related_posts_count > 0 %}
  <div class="related">
    <h2 id="related-articles">Related Articles</h2>
    <div class="container">
      {% for related_post in related_posts limit:3 %}
      {% unless related_post.url == page.url %}
      <div class="item">
        <a class="related-link" href="{{ site.baseurl }}{{ related_post.url }}">
          {{ related_post.title | xml_smart_escape }}
        </a>
        <div class="related-meta">
          <div class="tags">
            {% assign had_first_tag = false %}
            {% for tag in related_post.tags %}
              {% unless had_first_tag %}{% assign had_first_tag = true %}{% else %} | {% endunless -%}
              <a href="{{ tag | downcase | uri_escape | prepend: '/blog/tag/' | prepend: site.baseurl }}" class="tag">{{ tag }}</a>
            {% endfor %}
          </div>
          <time>{{ related_post.date | date_to_long_string }}</time>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endunless %}
      {% endfor %}
      <div class="clearfix"></div>
    </div>
  </div>
  {% endif %}

  {% comment %}
  <!-- POST NAVIGATION -->
  <div class="postNav clearfix">
    {% if page.previous.url %}
    <a class="prev{% if page.previous.image %} image{% endif %}" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ page.previous.title | xml_smart_escape }}</span>
      {% if page.previous.image %}
      <img src="{{ site.baseurl }}{{ page.previous.image }}" alt="">
      {% endif %}
    </a>
    {% endif %}
    {% if page.next.url %}
    <a class="next{% if page.next.image %} image{% endif %}" href="{{ page.next.url | prepend: site.baseurl }}"><span>{{ page.next.title | xml_smart_escape }}&nbsp;&raquo;</span>
      {% if page.next.image %}
      <img src="{{ site.baseurl }}{{ page.next.image }}" alt="">
      {% endif %}
    </a>
    {% endif %}
  </div>
  {% endcomment %}
</article>
