---
layout: page
has_subscribe: true
---

{{ content }}

<div id="article-details">
  {% if page.last_modified_at -%}
    {% assign last_modified_at = page.last_modified_at -%}
    {% assign date_action = "Updated" -%}
  {% else -%}
    {% assign last_modified_at = page.date -%}
    {% assign date_action = "Published" -%}
  {% endif %}
  <time itemprop="dateModified" content="{{ last_modified_at | date: '%Y-%m-%dT%H:%M:%S%z' }}">
      {{ date_action }}: {{ last_modified_at | date_to_long_string }}
  </time>
  {% if page.author %}
    | Written by <a href="{{ '/about/' | absolute_url }}#{{ page.author }}" itemprop="url" rel="author">{{ site.authors | map: page.author | map: 'name' }}</a>
  {% endif %}

  <div id="all-categories">
    Tags:
    {% for tag in page.tags %}
      {% unless forloop.first %} | {% endunless %}
      <a href="{{ tag | downcase | uri_escape | append: '/' | prepend: '/snippets/tag/' | prepend: site.baseurl }}" class="category">{{ tag }}</a>
    {% endfor %}
  </div>
</div>

{% assign all_snippets = site.snippets | rss_sort_all -%}
{% assign snippets_count = all_snippets | size -%}
{% if snippets_count > 1 %}
<div class="related">
  <h2>Recent Snippets</h2>
  <div class="container">
    {% assign num=4 %}
    {% for recent_snippet in all_snippets limit:num %}
      {% if recent_snippet.url == page.url %}{% assign num=5 %}{% endif %}
    {% endfor %}

    {% for recent_snippet in all_snippets limit:num %}
    {% unless recent_snippet.url == page.url %}
    <div class="item">
      <a class="related-link" href="{{ site.baseurl }}{{ recent_snippet.url }}">
        {{ recent_snippet.title | xml_smart_escape }}
      </a>
      <div class="related-meta">
        <time>{{ recent_snippet.date | date_to_long_string }}</time>
      </div>
      <div class="clearfix"></div>
    </div>
    {% endunless %}
    {% endfor %}
    <div class="clearfix"></div>
  </div>
</div>
{% endif %}
