---
layout: page
# disable_meta: true
# disable_title: true
---

{{ content }}

{% assign all_snippets = site.snippets | rss_sort_all -%}
{% assign snippets_count = all_snippets | size -%}
{% if snippets_count > 1 %}
<div class="related">
  <h2>Recent Snippets</h2>
  <div class="container">
    {% assign num=4 %}
    {% for recent_snippet in all_snippets limit:num %}
      {% if recent_snippet.url == page.url %}{% assign num=5 %}{% endif %}
    {% endfor %}

    {% for recent_snippet in all_snippets limit:num %}
    {% unless recent_snippet.url == page.url %}
    <div class="item">
      <a class="related-link" href="{{ site.baseurl }}{{ recent_snippet.url }}">
        {{ recent_snippet.title | xml_escape }}
      </a>
      <div class="related-meta">
        <time>{{ recent_snippet.date | date_to_long_string }}</time>
      </div>
      <div class="clearfix"></div>
    </div>
    {% endunless %}
    {% endfor %}
    <div class="clearfix"></div>
  </div>
</div>
{% endif %}
