---
title: "HTTP 404 - Page Not Found!"
description: "The page your looking for does not exist, or might have been moved."
---

<article id="page404">
  <h1>404 Not Found</h1>

  <p>
    Ooops! The page you want is missing. I might have deleted it for
    some reason, sorry about that.
  </p>

  <h2>Recent Articles</h2>

  <ol class="posts">
    <% page_articles.find_all{|x| !x.data.archive}[0..5].each_with_index do |article, i| %>
    <li>
      <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
	<%= article.date.strftime("%Y-%m-%d") %> &raquo;
      </time>
      <a href="<%= article.url %>" rel="prefetch related"><%= article.title %></a>
    </li>
    <% end %>
  </ol>
</article>
