---
title: "Alexandru Nedelcu"
description:
  Software developer, focused on building
  low-latency, high-throughput web services,
  Scala and functional programming enthusiast.
image: /assets/img/alex-big-version-72ppi.jpg
---

<article id="about">
  <h1>Alexandru Nedelcu</h1>

  <%= image_tag "alex-big-version-72ppi.jpg", :id => "picture", :class => "right",
    :title => "Alexandru Nedelcu", :alt => "Alexandru Nedelcu",
    :itemprop => "primaryImageOfPage" %>

  <div class="description">
    Software developer at <a href="http://eloquentix.com">Eloquentix</a>,
    focused on building low-latency, high-throughput web services,
    Scala and functional programming enthusiast.
  </div>

  <h2>Elsewhere</h2>

  <ul class="bullets">
    <li><a href="https://github.com/alexandru/" target="_blank" rel="me">GitHub (alexandru)</a></li>
    <li><a href="https://twitter.com/alexelcu/" rel="me">Twitter (@alexelcu)</a></li>
    <li><a href="https://www.linkedin.com/in/alexandrunedelcu" rel="me">LinkedIn</a></li>
    <li><a href="https://facebook.com/alexelcu/" rel="me">Facebook (@alexelcu)</a></li>
  </ul>

  <!--sse-->
  <h2>Contact</h2>

  Email: <i>throwaway160114@alexn.org</i>
  <div class="note">
    The address is changed periodically to avoid spam.
  </div>
  <!--/sse-->
</article>
