---
title: "Alexandru Nedelcu"
description:
  Software developer, focused on building
  low-latency, high-throughput web services,
  Scala and functional programming enthusiast.
image: /assets/img/alex-nedelcu-800-square.jpg
---

<article id="about">
  <h1>Alexandru Nedelcu</h1>

  <%= image_tag "alex-nedelcu-800-square.jpg", :id => "picture", :class => "right",
    :title => "Alexandru Nedelcu", :alt => "Alexandru Nedelcu",
    :itemprop => "primaryImageOfPage" %>

  <div class="description">
    Software developer, author of <a href="https://monix.io">Monix</a> 
    and of <a href="https://funfix.org/">Funfix</a>, focused on building low-latency, 
    high-throughput web services, Scala, Haskell and functional programming enthusiast.
  </div>

  <h2>Elsewhere</h2>

  <ul class="bullets">
    <li><a href="https://github.com/alexandru/" target="_blank" rel="me">GitHub (alexandru)</b></a></li>
    <li><a href="https://twitter.com/alexelcu/" target="_blank" rel="me">Twitter (@alexelcu)</a></li>
    <li><a href="https://www.linkedin.com/in/alexelcu" target="_blank" rel="me">LinkedIn</a></li>
    <li><a href="https://ro.alexn.org/">Romanian Blog</a></li>
  </ul>

  <!--sse-->
  <h2>Contact</h2>

  Email: 
  <a href="javascript:window.location.href = 'mailto:' + ['m9+website', 'alexn.org'].join('@')">
    m9+website<!---@--->@<!----@-@---->alexn.org
  </a>
  <div class="note">
    The address is changed periodically to avoid spam.
  </div>
  <!--/sse-->
</article>
