name: build
on:
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up Ruby 2.7.1
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7.1

      - name: Cache Ruby Bundler
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: v2-${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            v2-${{ runner.os }}-gems-

      - name: Cache JavaScript (npm)
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: v2-${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            v2-${{ runner.os }}-node-              
                      
      - name: Install dependencies
        run: |
          sudo apt-get install libgsl-dev
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Build
        run: |
          ./scripts/build
        env:
          VIMEO_API_TOKEN: ${{ secrets.VIMEO_API_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
