name: deploy
on:
  repository_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@master
        with:
          submodules: true

      - name: Set up Ruby 2.6
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x

      - name: Cache Ruby Bundler
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Cache JavaScript (npm)
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-              
              
      - name: Install dependencies
        run: |
          sudo apt-get install libgsl-dev
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Build
        run: |
          ./scripts/build
        env:
          VIMEO_API_TOKEN: ${{ secrets.VIMEO_API_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_DEPLOY: "true"
